<!doctype html>
<html lang='fr'>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://www.liberation.fr/apps/static/styles/fonts.css">
  <link rel="stylesheet" href="https://www.liberation.fr/apps/static/styles/font-classes.css">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="libe-insta-slide">

    <!-- Background images -->
    <div
      data-property="background-images"
      class="libe-insta-slide__background-images">
    </div>

    <!-- Cover display -->
    <div class="libe-insta-slide__cover-display">
      <div class="libe-insta-slide__icon-title">
        <span data-property="title"></span>
      </div>
      <div class="libe-insta-slide__text-panel-wrapper">
        <div
          data-property="text"
          class="libe-insta-slide__text-panel libe-insta-slide__text-panel_big">
        </div>
      </div>
    </div>

    <!-- Image and text display -->
    <div class="libe-insta-slide__image-and-text-display">
      <div
        data-property="image"
        class="libe-insta-slide__image">
      </div>
      <div class="libe-insta-slide__title-and-text">
        <div
          data-property="title"
          class="libe-insta-slide__label-title">
        </div>
        <div
          data-property="text"
          class="libe-insta-slide__paragraph">
        </div>
      </div>
    </div>

    <!-- Background image display -->
    <div class="libe-insta-slide__bg-image-display">
    </div>

    <!-- Quote on background image display -->
    <div class="libe-insta-slide__quote-on-bg-image-display">
      <div class="libe-insta-slide__quote-sign">
        <img src="./assets/libe-quote-sign.png" />
      </div>
      <div class="libe-insta-slide__quote-and-author">
        <div
          data-property="title"
          class="libe-insta-slide__quote">
        </div>
        <div
          data-property="text"
          class="libe-insta-slide__quote-author">
        </div>
      </div>
    </div>

    <!-- Text on background image display -->
    <div class="libe-insta-slide__text-on-bg-image-display">
      <div
        data-property="text"
        class="libe-insta-slide__text-panel">
      </div>
    </div>

    <!-- Icon signature -->
    <div class="libe-insta-slide__icon-signature">
      <img src="./assets/libe-icon.png" />
    </div>
  </div>
</body>
</html>
